*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
/* Header */
.header{
    background-color: #222222;
    margin-bottom: 35px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.menu-header{
    margin-left: auto;
    margin-right: 20px;
}
.menu-header nav a{
    margin-right: 10px;
    font-size: 16px;
}
.menu-header nav a:hover{
    font-weight: bold;
}

/* Main */
.contenedor{
    display: flex;
    justify-content: space-around;
}
.envio{
    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
    background-size: 490px 350px;
}
.envio h2, .ranking h2{
    color: #FC200C;
}
.envio h2{
    margin-top: 20px;
    margin-left: 20px;
}
.ranking h2{
    text-align: center;
    margin-top: 26px;
    margin-bottom: 58px;
}
.top5{
    display: flex;
}
.top5-izq{
    margin-left: 69px;
}
.top5-izq h3{
    margin-bottom: 20px;
}
.top5-izq ol li{
    margin-bottom: 10px;
}
.pizza-cayendo{
    margin:auto;
}
.main-article{
    background-color: #FFFFFF;
    border-radius: 5px;
    min-width: 490px;
    min-height: 350px;
}
.blanco{
    color: white;;
}
.negrita{
    font-weight: 700;
}
/* Footer */
footer{
    background-color: #222222;
    margin-top: 35px;
}
.footer{
    display: flex;
    align-items: center;
    padding: 20px;
}
.footer a{
    margin-left: auto;
}
.menu-footer ul{
    list-style-type: none;
}
.menu-footer li{
    margin-bottom: 12px;
}
.menu-footer li a:hover{
    font-weight: bold;
}